<div>
    <div class="m-auto">
        <div class="m-auto my-5 p-3 w-75 border-2 rounded-3xl w-max">
            <input class="focus-visible:border-0 mr-4 text-left" #searchBox (keyup)="search(searchBox.value)" placeholder="Rechercher un pokémon...">
            <i class="fa-solid fa-magnifying-glass text-blue-600"></i>
        </div>
        <div class="mb-5">
            <div class="cursor-pointer" *ngFor="let pokemon of pokemons$ | async" (click)="goToDetailPokemon(pokemon)">
                <a class="flex justify-center">
                    <img width="65px" [src]="pokemon.picture" ><span style="margin:auto 10px;"> {{pokemon.name}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
