<div class="w-max m-auto mt-10 border-2 p-5 rounded-2xl">
    <div class="mb-5 text-center"><em>{{message}}</em></div>
    <div class="text-center">
        <form #loginForm="ngForm">
            <div class="mb-2">
                <label class="mr-2" for="name">Name</label>
                <input class="border-2 rounded" type="text" id="name" [(ngModel)]="name" name="name" required>
            </div>
            <div class="mr-6">
                <label class="mr-2" for="password">Password</label>
                <input class="border-2 rounded" type="password" id="password" [(ngModel)]="password" name="password" required>
            </div>
        </form>
        <div class="mt-10" *ngIf="auth.isLoggedIn; else elseBlock">
            <a class="p-3 bg-blue-700 rounded-2xl text-white pointer-cursor" (click)="logout()">Se déconnecter</a>
        </div>
        <ng-template #elseBlock>
            <div class="mt-10">
                <a class="p-3 bg-blue-700 rounded-2xl text-white pointer-cursor" (click)="login()">Se connecter</a>
            </div>

        </ng-template>
    </div>
</div>